.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 12px;
  max-width: 70vw;
  width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.close-button {
  margin: 0.3rem;
  width: 30%;
  align-self: center;
  /* background: linear-gradient(135deg, #bc8f70, #d4a574); */
  background: linear-gradient(135deg, #a67b5b, #87654d);
  color: white;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 25px rgba(188, 143, 112, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}
.close-button:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(188, 143, 112, 0.4);
  /* background: linear-gradient(135deg, #a67b5b, #bc8f70); */
  background: linear-gradient(135deg, #715441, #a48059);
}
