<div class="home">
  <section class="my-image">
    <img src="riyapImage.jpeg" alt="Riya Pahuja" />
  </section>
  <section class="introduction">
    <h2>Riya Pahuja</h2>
    <h3>Software Engineer</h3>
    <section class="summary">
      <h3>Summary</h3>
      <p>
        Skilled Software Engineer with expertise in developing interactive,
        responsive UIs and web applications using HTML5, CSS3, TypeScript, and
        JavaScript, along with frameworks like React and Angular. Experienced in
        backend development with Node.js and Java, working with databases such
        as MongoDB, PostgreSQL, and MySQL. Passionate about building
        high-performance, secure, and scalable applications while ensuring
        adherence to best coding practices.
      </p>
    </section>
  </section>
</div>
