<div class="experience">
  <!-- @for(client of clients; track $index){
  <section>
    <h2>{{ client.name }}</h2>
    <p></p>
  </section>
  } -->
  <!-- <section class="exp"></section>
  <section class="exp"></section>
  <section class="exp"></section> -->
  <section>
    <div class="duration">2020-2023</div>
    <div class="duration-role">
      <h2>Tata Consultancy Services Limited</h2>
      <h3>Information Technology Analyst(Senior Software Engineer)</h3>
      <button class="role-details-btn">Read More</button>
      <div class="client-card">
        <h3 class="client-card-title">Client: T-Mobile USA</h3>
        <h5 class="client-card-subtitle">Roles and Responsibilities:</h5>
        <div class="client-card-content">
          <ul>
            <li>
              Developed a real-time Analytics Dashboard using React and Java
              Spring Boot for network monitoring, customer insights, and KPI
              visualization.
            </li>
            <li>
              Designed and implemented RESTful and GraphQL APIs with Spring
              Boot, ensuring efficient data fetching and integration with
              real-time WebSocket communication for live network status updates.
            </li>
            <li>
              Developed real-time streaming capabilities using Spring WebFlux
              and WebSockets, enabling interactive data visualizations with
              Recharts and dynamic network alerts.
            </li>
            <li>
              Ensured code quality and test coverage using Jest, Cypress for
              frontend and JUnit, Mockito for backend.
            </li>
            <li>
              Built different features and redesigned a complex test data
              generation module for Test Data Management portal using Angular
              and Material UI, increasing usage by 50% and reducing user errors
              by 70%.
            </li>
            <li>
              Integrated Okta SSO and implemented custom HTTP interceptors for
              token management, enhancing authentication, authorization, and
              security with Auth guards.
            </li>
            <li>
              Upgraded Angular v7 to v10 which improved performance by reducing
              bundle size and build times by 20%, built reusable UI components
              while managing state using NgRx and RxJS and tested using Jasmine
              & Karma.
            </li>
            <li>
              Collaborated with backend teams to define API contracts, implement
              efficient data models, and debug APIrelated issues for seamless
              front-end and backend integration.
            </li>
            <li>
              Mentored junior developers, established front-end best practices
              and conducted knowledge-sharing sessions, improving team
              proficiency and accelerating project delivery.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="duration">2016-2020</div>
    <div class="duration-role">
      <h2>Tata Consultancy Services Limited</h2>
      <h3>Systems Engineer(Software Engineer)</h3>
      <button class="role-details-btn">Read More</button>
      <div class="client-card">
        <h4 class="client-card-title">Client: Eli Lilly</h4>
        <h6 class="client-card-subtitle">Roles and Responsibilities:</h6>
        <p class="client-card-content">Content</p>
      </div>
      <div class="client-card">
        <h4 class="client-card-title">Client: Vodafone</h4>
        <h6 class="client-card-subtitle">Roles and Responsibilities:</h6>
        <p class="client-card-content">Content</p>
      </div>
      <div class="client-card">
        <h4 class="client-card-title">Client: Pfizer</h4>
        <h6 class="client-card-subtitle">Roles and Responsibilities:</h6>
        <p class="client-card-content">Content</p>
      </div>
    </div>
  </section>
  <section>
    <div class="duration">2012-2016</div>
    <div class="duration-role">
      <h2>Walchand College of Engineering, Sangli</h2>
      <h3>Bachelor of Technology: Computer Science & Engineering</h3>
    </div>
  </section>
</div>
